
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #000096;
    color: white;
}
header{
    text-align: center;
    padding-top: 10px;
    margin: 0%;
}
header h1{
    margin: 0%;
}


#contact-section{
    padding: 10px;
    text-align: center;
    height: 40vh;
}

form{
    width: 40%;
    margin: auto;
    padding: 10px;
    height: 50%;
}

label {
    display: block;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
}
input{
    padding: 5px;
}

strong{
    color: white;
}

button{
    background-color: blue;
    padding: 10px;
    border: none;
    width: 40%;
    margin: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #contact-section {
        height: 55vh;
    }
    form {
        width: 80%;
        height: 60%;
    }
    label{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
}

#display-contact{
    padding: 10px;
    text-align: center;
    margin: auto;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

li{
    border-bottom: 2px solid blue;
}